@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --googlesanse: 'ProductSans', sans-serif;
}

body {
  font-family: var(--googlesanse);
  font-weight: 400;
  background-color: #F9FBFD;
}

.containers {
  width: 100%;
  padding: 0px 20px;
}

@layer base {
  :root {
    --radius: 10px;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.panelleft {
  border: 1px solid #C2E7FF;
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  padding: 5px;
  background-color: #C2E7FF;
  margin-top: 30px;
}

.minimal-tiptap-editor a {
  cursor: pointer;
  color: blue; 
  text-decoration: underline; 
}

.ProseMirror-focused {
  outline: none;
}

.containers [data-state="on"] {
  background-color: black;
}


.dropdown-menu {
  background: white;
  border: 1px solid gray;
  border-radius: 0.7rem;
  box-shadow: 0px 12px 33px 0px rgba(0, 0, 0, .06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, .04);;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  overflow: auto;
  padding: 0.4rem;
  position: relative;
}
.dropdown-menu button {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0.25rem;
  text-align: left;
  width: 100%;
  padding: 5px;
}
.dropdown-menu button:hover, .dropdown-menu button:hover.is-selected {
  background-color: #D3E3FD;
  
}
.dropdown-menu button.is-selected {
  background-color: #D3E3FD;
}

.comment {
  background-color: #FEF2CD;
}

.tiptap code {
  background-color: #F6F2FF;
  border-radius: .4rem;
  color: black;
  font-size: .85rem;
  padding: .25em .3em;
}

.tiptap blockquote {
  border-left: 3px solid gray;
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.tiptap li {
  list-style: disc;
}

.tiptap ol li {
  list-style: decimal;
}

::-webkit-scrollbar {
  @apply w-2.5 h-2.5;
 
}

::-webkit-scrollbar-track {
  @apply bg-transparent
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-border border-none bg-[#C2E7FF];
}

.tiptap h1 {
  font-size: 1.4rem;
}
.tiptap h2 {
  font-size: 1.2rem;
}
.tiptap h3 {
  font-size: 1.1rem;
}
.tiptap h4, h5, h6 {
  font-size: 1rem;
}

.tiptap iframe {
  width: 100%;
}

.draggable-video {
  cursor: move;  /* Change the cursor to indicate it's draggable */
}

.draggable-video-container {
  position: relative; /* Ensure container holds position for drag functionality */
}